<div class="card">
    <div class="card-header">
        Editar Estudiante
    </div>
    <div class="card-footer text-muted">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Matricula</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="matricula">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Nombre.</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe tu Nombre">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Fecha de Solicitud de Falta.</label>
              <input type="date"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribir tu Fecha de Solicitud">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Motivo de la no conexion</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribir tu motivo">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Valido</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Validar">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Comentario</label>
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Comentario">
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>

        </form>
    </div>
</div>